version: '3.8'

services:
    app:
        build: .
        ports:
            - "8081:8080"
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/rpgzumedb
            - SPRING_DATASOURCE_USERNAME=postgres
            - SPRING_DATASOURCE_PASSWORD=123456
            - SPRING_FLYWAY_URL=jdbc:postgresql://db:5432/rpgzumedb
        depends_on:
            - db
        restart: always

    db:
        image: postgres:15-alpine
        ports:
            - "5433:5432"
        environment:
            - POSTGRES_DB=rpgzumedb
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=123456
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: always

volumes:
    postgres_data:
